#multi-text{
    color:antiquewhite;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 50px;
    background-color: azure;
}

.nav{
    list-style: none;
    text-align: center;
    font-size: 25px;
}
.nav li{
    display:inline;
    margin-right: 20px;
}

.nav a{
    color: red;
}

.center-text {
    text-align: center;
}

.my-first-div {
    font-size: 40px;
    color: aqua;
    background-color: blue;
    text-align: center;
}

#span-1{
    color:chartreuse;
    font-size: 300px;
}